table,tr,th,td{
    border: 1px solid black;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}

tr:hover {
    background-color: rgba(184, 230, 211, 0.541);
}
  
.p1{
    background-color: rgba(226, 217, 197, 0.651);
}

#p0{
    height="80"
}

#p9{
    text-align: center;
    font-size: 40px;
    background-color:rgba(225, 197, 226, 0.651)
}

